@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Josefin Sans', sans-serif; */
  font-family: 'Prompt', sans-serif;

}
::-webkit-scrollbar {
  display: none;
}

.navbar{
  padding: 20px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #15133C;
}
.navbar .brand-name{
font-family: 'Caveat', cursive;
font-weight: 900;
letter-spacing: 2px;
font-size: 2.5rem;
color: white;
cursor: pointer;
}
.navbar ul{
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.navbar a{
  padding: 5px 20px;
  margin-right: 20px;
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 20px;
  border: solid white;
}
.navbar a:hover{
  background-color: #73777B;
}
.mainContainer{
  background-color: #73777B;
  padding: 20px;
  
}
.intro{
  width: 50%;
  padding: 30px 10vw;
  margin: 20px auto;
  text-align: justify;
  color: white;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid white;
  box-shadow: 5px 5px 10px 2px black;
}

.profile_img{
  width: 300px;
  margin: 20px auto;
  border-radius: 50%;
  border: 5px solid white;
}

div .contact-item{
  color: white;
  text-decoration: none;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 2px #15133C;
}
div .contact-items{
  display: flex;
  flex-direction: column;
}
